{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center; max-width: 500px; margin: 4rem auto">
        <p>
            {{ target_user.date_joined }}
        </p>

        {% if target_user.profile %}
        <img src="{{ target_user.profile.image.url }}" alt="" style="height: 10rem;
        width: 10rem; border-radius: 20rem; margin: 1rem auto; display: block">
        <h4 style="font-family: GmarketSansBold; display: inline-block;">
            {{ target_user.profile.nickname }}
        </h4>
        <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}"
           style="font-family: Dongle; font-size: 2rem">
            edit
        </a>
        {% else %}
        <a href="{% url 'profileapp:create' %}">
            <h2 style="font-family: 'Dongle', sans-serif">
                Create Profile
            </h2>
        </a>
        {% endif %}
        <h4>
            {{ target_user.profile.message }}
        </h4>

        {% if target_user == user %}
        <a href="{% url 'accountapp:update' pk=target_user.pk %}">
            <p>
                Change Info
            </p>
        </a>
        <a href="{% url 'accountapp:delete' pk=target_user.pk %}">
            <p>
                Quit
            </p>
        </a>
        {% endif %}

    </div>
{% endblock %}